<launch>

	<arg name="namespace" default="Frodo"/>

    <group ns="$(arg namespace)">

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	    <node pkg="mission_planner" type="vicon_rover_inspection" name="inspector_node" output="screen">

	    	<!-- Namespace -->
	    	<param name="namespace" value="$(arg namespace)"/>

			<!-- Paths for waypoint files -->
			<param name="inspection_waypoints_path" value="$(find mission_planner)/waypoints/wps.txt"/>

			<!-- Guidance parameters -->
			<param name="takeoff_height" value="0.75"/> <!-- Takeoff height (in meters) -->
			<param name="max_velocity" value="0.25"/>   <!-- Maximum speed (in meters/sec) -->

			<!-- Thread update rates (in Hz) -->
			<param name="tf_update_rate" value="100"/>
		</node>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    	<node pkg="mav_trajectory_generation_ros" type="minSnap_Node" name="minSnap_Node" output="screen"/> 


    	<!-- Batch solver to find relative pose between vicon and SLAM -->
        <include file="$(find batch_pose_estimator)/launch/slam2vicon.launch">
    	    <arg name="namespace" value="$(arg namespace)" />
	    </include>

    </group>

    <!-- <include file="$(find mapper)/launch/mapper_ns.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include> -->

	<!-- <include file="$(find simulations_ros)/launch/localization.launch">  -->
		<!-- <arg name="namespace" value="$(arg namespace)" /> -->
	<!-- </include> -->

</launch>